<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-wsserver"
        version="0.7.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/wsserver.js" target="js/wsserver.js"/>

  <js-module src="www/wsserver.js" name="wsserver">
    <clobbers target="wsserver" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Server">
        <param name="android-package" value="com.example.plugin.Server"/>
      </feature>
    </config-file>

    <framework src="org.java-websocket:Java-WebSocket:1.3.8" />
    <source-file src="src/android/Server.java" target-dir="src/com/example/plugin/"/>
  </platform>
</plugin>
